/*
 * ==============================================
 * Skin for oXygen generated WebHelp.
 * ==============================================
 */

/*
 * ------------------------------------------------------------------
 *  
 * Fonts.
 *  
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300");

html,
body {
  min-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
}

/*
 * ------------------------------------------------------------------
 *
 * Fight with bootstrap
 *
 */
.navbar-brand {
  height: auto;
}
.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
}
.wh_header {
  background: #000 none;
  color: var(--wh-secondary-color);
}
a,
a:hover,
a:visited {
  color: var(--wh-link-color);
}
a:hover {
  text-decoration: none;
}

/*
 * ------------------------------------------------------------------
 *  
 * Publication titles
 *  
 */
.wh_publication_title > a {
  color: var(--wh-secondary-color);
  font-size: 1.4em;
}

/*
 * ------------------------------------------------------------------
 *  
 * Menu
 *  
 */
.wh_top_menu {
  text-transform: uppercase;
  margin: .4em 0;
  font-size: 0.9em;
}
.wh_top_menu a {
  color: var(--wh-secondary-color);
  line-height: 2em;
}

/* The submenus */
.wh_top_menu ul ul {
  background-color: #333;
}

.wh_top_menu:not(.activated-on-click) ul:hover li,
.wh_top_menu:not(.activated-on-click) ul li:hover {
  /* WH-2521 Change the background color imediatelly when the current menu item (li) or other menu item is hovered. */
    transition: none;
}

.wh_top_menu:not(.activated-on-click) ul li {
    /* WH-2521 Delay the background color change on hover off. */
    transition: background-color 0.2s 1s;
}

.wh_top_menu ul li:hover,
.wh_top_menu.activated-on-click ul li.active {
    background-color: #333;
}
.wh_top_menu ul ul li a:focus,
.wh_top_menu ul ul li a:hover {
  background: #000;
  color: #fff;
}
.wh_top_menu ul ul li {
  border-top-color: #000;
  width: 270px;
  text-transform: capitalize;
}
.wh_top_menu ul ul li.has-children:after {
}

/*
 * ------------------------------------------------------------------
 *  
 * Link to the index.
 * 
 */
.wh_indexterms_link a span {
  display: none;
}
.wh_indexterms_link a:before {
  color: var(--wh-secondary-color);
}

/*
 * ------------------------------------------------------------------
 *  
 * Breadcrumb
 *  
 */
.wh_breadcrumb ol {
  color: var(--wh-breadcrumb-color);
}
.wh_breadcrumb ol a {
  color: inherit;
}
.wh_breadcrumb ol .active {
  color: var(--wh-related-links-color);
}

/*
 * ------------------------------------------------------------------
 *  
 * Tools and navigation
 * 
 */
.wh_tools {
  background-color: var(--wh-breadcrumb-bg);
  margin: 1em 0 2em;
}

.wh_print_link,
.wh_navigation_links,
.wh_navigation_links .navnext,
.wh_navigation_links .navprev {
}

.webhelp_full_width_link,
.webhelp_expand_collapse_sections,
.wh_hide_highlight,
.wh_print_link button,
.oxy-icon-pdf-link,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before {
  color: var(--wh-link-color);
  text-decoration: none;
}

/*
 * ------------------------------------------------------------------
 *  
 * Tiles
 * 
 */
.wh_tile {
  background-color: var(--wh-tile-bg);
  font-weight: 300;
}
.wh_tile_shortdesc {
  margin-top: 1em;
  text-align: center;
  color: var(--wh-main-page-shortdesc-color);
  font-size: 1.1em;
}
.wh_tile_text:after {
  background: linear-gradient(to bottom, rgba(239, 239, 239, 0), rgba(239, 239, 239, 1) 75%);
}
.wh_tile_title {
  font-size: 1.7em;
  text-align: center;
  text-decoration: none;
}
.wh_tile_title a {
  color: var(--wh-tile-link-color);
  line-height: 1.3em;
}
@media only screen and (max-width : 767px) {
  .wh_tile > div {
    height: auto;
  }
}

/* 
You can style some of the tiles in a special way. 
Example:
.wh_tiles *[data-id='getting_started']{
    background-color:gray;
}
*/

/*
 * ------------------------------------------------------------------
 *  
 * Search area
 * 
 */
.wh_search_input {
  display: block;
  margin: 0;
  position: relative;
  background: var(--wh-search-image-small) right no-repeat var(--wh-search-input-bg);
  padding: 40px 0;
}

.wh_welcome:not(:empty) {
  font-size: 4em;
  margin: 0 auto;
  font-family: 'Roboto Thin', sans-serif;
  padding: 0 0 1.5em 0;
  text-shadow: none;
}

.wh_main_page .wh_search_input {
  padding: 115px 0;
  background: var(--wh-search-image) right no-repeat var(--wh-search-input-bg);
}
.wh_search_textfield {
  border: solid 1px var(--wh-outline-color);
  border-radius: 5px;
  padding: 0 .5em;
  position: relative;
  height: 2.8em;
}
.wh_search_button {
  border: solid 1px var(--wh-outline-color);
  border-radius: 0 5px 5px 0;
  padding: 0.6em 1em;
  color: var(--wh-secondary-color);
  background-color: var(--wh-search-color);
  height: 2.8em;
}

.ui-autocomplete {
  background-color: var(--wh-primary-bg);
  color: var(--wh-primary-color);
}

/* Search autocomplete icons */
.search-autocomplete-proposal-type-history a,
.search-autocomplete-proposal-type-history a:hover,
.search-autocomplete-proposal-type-history a:visited,
.search-autocomplete-proposal-type-history a:active {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
}
.ui-state-active .search-autocomplete-proposal-type-history a,
.ui-state-active .search-autocomplete-proposal-type-history a:hover,
.ui-state-active .search-autocomplete-proposal-type-history a:visited,
.ui-state-active .search-autocomplete-proposal-type-history a:active {
  color: var(--wh-secondary-color);
}

.ui-state-active {
  background-color: #999;
}

/* Search pagination */
#wh-search-pagination > ul > li > a {
  background-color: var(--wh-search-pagination-bg);
  color: var(--wh-link-color);
}
#wh-search-pagination > ul > li.active > a {
  background-color: var(--wh-search-pagination-active-bg);
  color: var(--wh-secondary-color);
}
#wh-search-pagination > ul > li.disabled > a {
  background-color: var(--wh-search-pagination-disabled-bg);
  color: var(--wh-search-pagination-disabled-color);

}

/*@media only screen and (max-width: 999px) {*/
/*.wh_search_input:after{*/
/*display:none;*/
/*}*/

/*}*/
@media only screen and (max-width : 767px) {
  .wh_main_page .wh_search_input,
  .wh_search_input {
    padding: 3em 0;
  }
}

/*
 * ------------------------------------------------------------------
 *  
 * Publication TOC
 * 
 */
.wh_publication_toc {
  border-radius: 3px;
  padding: 1.5em 2em;
  background-color: var(--wh-publication-toc-bg);
}
.wh_publication_toc .active > .topicref a {
  color: var(--wh-related-links-color);
}
.wh_publication_toc span,
.wh_publication_toc a,
.wh_publication_toc a:visited,
.wh_publication_toc a:hover {
  color: var(--wh-publication-toc-color);
}
.wh_publication_toc a:hover {
  text-decoration: underline;
}

.wh_publication_toc ul li {
  margin-top: .7em;
}

@media only screen and (max-width : 767px) {
  .wh_publication_toc {
    border-radius: 0;
    padding: 1em 0.5em;
    margin-top: 10px;
    border: 1px solid var(--wh-publication-toc-border-color);
  }

  .wh_related_links,
  .wh_child_links,
  .wh_topic_content .related-links {
    border: 1px solid var(--wh-publication-toc-border-color);
  }
}

/* Publication TOC tooltip */
.wh_breadcrumb .topicref .wh-tooltip,
.wh-toc-tooltip {
  background-color: var(--wh-tooltip-color);
  color: var(--wh-secondary-color);
  font-size: 1.4rem;
}

.wh_breadcrumb .topicref .wh-tooltip a,
.wh-toc-tooltip a {
  color: var(--wh-secondary-color);
  text-decoration: underline;
}

/* TOC button */
.close-toc-button {
  background-color: var(--wh-primary-bg);
  box-shadow: 0 2px 5px var(--wh-close-toc-button-shadow);
}
.close-toc-button:hover {
  background-color: var(--wh-soft-color);
}

/* Tooltip arrow. */

[data-tooltip-position = "left"] .topicref .wh-tooltip::before,
[data-tooltip-position = "left"] .wh-toc-tooltip::before {
  border-left-color: var(--wh-tooltip-color);
}

[data-tooltip-position = "right"] .topicref .wh-tooltip::before,
[data-tooltip-position = "right"] .wh-toc-tooltip::before {
  border-right-color: var(--wh-tooltip-color);
}

[data-tooltip-position = "bottom"] .topicref .wh-tooltip::before,
[data-tooltip-position = "bottom"] .wh-toc-tooltip::before {
  border-bottom-color: var(--wh-tooltip-color);
}

[data-tooltip-position = "top"] .topicref .wh-tooltip::before,
[data-tooltip-position = "top"] .wh-toc-tooltip::before {
  border-top-color: var(--wh-tooltip-color);
}

/*
 * ------------------------------------------------------------------
 *
 * Footer
 * 
 */
.wh_footer {
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
  color: var(--wh-secondary-color);
  background: none var(--wh-footer-bg);
  margin-top: 2em;
}

.wh_footer a {
  color: #cce2f1;
}

/*
 * ------------------------------------------------------------------
 *  
 * Topic content
 * 
 */
.wh_topic_content,
.wh_content_area {
  color: var(--wh-primary-color);
  line-height: 1.7em;
  margin-bottom: 80px;
}
.wh_main_page .wh_content_area {
  margin: 40px auto;
}
.wh_topic_content .title.topictitle1 {
  font-size: 2em;
  margin-bottom: 1em;
  line-height: 1.1em;
}

.topictitle3 {
  font-weight: 400;
}

.wh_related_links,
.wh_child_links,
.wh_topic_content .related-links {
  border-top: 1px solid var(--wh-outline-color);
  padding-top: 7px;
  margin-top: 0;
}

.wh_related_links,
.wh_topic_content .related-links {
  padding: .5em 1.5em;
}

.wh_child_links {
  padding: 1.5em;
}

.related-links strong {
  font-weight: 500;
}

.related-links a,
.related-links a:visited {
  color: var(--wh-related-links-color);
  padding-bottom: .3em;
  display: inline-block;
}

.filepath {
  color: var(--wh-filepath-color);
}

/*
 * ------------------------------------------------------------------
 *  
 * Search results.
 * 
 */
.searchresult {
  list-style: none;
}

.searchresult li a {
  color: var(--wh-searchresult-color);
}
.searchresult .shortdesclink {
  margin: .3em .5em 0 0;
}
.wh_search_expression {
  font-weight: bold;
}

/* Search relative path */
.searchresult li .relativePath a {
  color: var(--wh-searchresult-relativepath-color);
}

/*--------- Search results breadcrumb ----------*/
.search-breadcrumb li a {
  background: var(--wh-search-bg);
}
.search-breadcrumb li .title:before,
.search-breadcrumb li .title:after {
  border-color: var(--wh-search-bg);
}
.search-breadcrumb li .title:before {
  border-left-color: transparent;
}
.search-breadcrumb li .title:after {
  border-color: transparent;
  border-left-color: var(--wh-search-bg);
}

/*
 * ------------------------------------------------------------------
 *  
 * Index terms.
 * 
 */
.wh_index_terms span.wh_first_letter {
  color: var(--wh-searchresult-color);
}
.wh_index_terms #indexList {
  padding: 0;
}

/*
 * ------------------------------------------------------------------
 *  
 * Tree TOC for the main page.
 * 
 */
.wh_main_page_toc {
}

.wh_main_page_toc .expanded,
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover,
.wh_main_page_toc > .wh_main_page_toc_entry:hover,
.wh_main_page_toc_accordion_entries {
  background-color: var(--wh-main-page-toc-bg);
}

/**
 *
 * Styles used for RTL pages
 *
 */
html[dir = 'rtl'] .wh_top_menu:not(.activated-on-click) ul li:hover > ul,
html[dir = 'rtl'] .wh_top_menu.activated-on-click ul li.active > ul {
  max-width: 270px;
}

#go2top {
  color: var(--wh-secondary-color);
}

.wh_theme {
  font-size: 0.9em;
}
.wh_theme_btn {
  color: var(--wh-secondary-color);
  text-transform: uppercase;
}