/* The front page (cover) */

@page front-page {
  background-color: #386fda;
  background-image: url("Editor_page.svg");
}

.booktitle {
/*  background-color: #386fda;*/
  background-color: transparent;
  background-image: url("Editor_logo.svg");  
}