@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

@page {
  size: 6in 7.5in;
  margin: 0.5in;
}

:root {
  font-family: 'Crimson Text', serif;
  font-size:11pt;
}

body > pre {
  font-family: sans-serif;
  font-size:7pt;
  white-space: pre-wrap;
}

h2 {
  page-break-before:always;
}

body > pre {
  page:copyright-license-page;
  counter-reset:page;
}

@page copyright-license-page{
  background-color:yellow;
  @bottom-center {
    content:counter(page, lower-roman);
  }
}

pre + h2{
  counter-reset: page 1;
} 


h2 {
  text-align: center;
  font-size:larger;
}


@page {
  @bottom-center {
    content: "-" counter(page) "-";
    font-size: 8pt;
  }
}

p {
  text-align: justify;  
}


@page cover-page{
   background-image:url('https://www.gutenberg.org/files/74/74-h/images/bookcover.jpg');  
   background-size: 6in 7.5in;
   background-repeat:no-repeat;
   @bottom-center {
      content:none;
   }   
}


html:before{
  content:" ";
  page:cover-page;
}

