*[class~= "front-page/front-page-title"] {
  color:white;
  font-family: "Roboto";
}

.booktitle {
  margin-left: 1.2in;
  padding-top:0.7in;
  text-align:left;
}
.mainbooktitle .ph,
.booktitlealt {
  display:inline;
  line-height:0.7in;
  color:white;
  font-weight:500;
}
.booktitlealt {
  display:block; 
  font-weight:300;
}

