/* The front page (cover) */

@page front-page {
  background-color: #c73822;
  background-image: url("Author_page.svg");  
}

.booktitle {
/*  background-color: #c73822;*/
  background-color: transparent;
  background-image: url("Author_logo.svg");  
}