/* The front page (cover) */

@page front-page {
  background-color: #777777;
  background-image: url("Json_page.svg");
}

.booktitle {
/*  background-color: #66738c;*/
  background-color: transparent;
  background-image: url("Json_logo.svg");  
}