@import "oxygen.css";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Specific rules for the print output. */

@page :left, :right, table-of-contents:left, table-of-contents:right, chapter:left, chapter:right{

    @top-left{
        font-size: 10pt;
        font-family: Roboto;
    }
    
    @top-right{
        font-size: 10pt;
        font-family: Roboto;
    }
}

body {
	font-size: 10pt;
}

code {
  padding:2px 4px;
}


/* Titles */

.topictitle1 {
   color: rgb(37, 59, 97);
}

.topictitle2,
.topictitle3,
.topictitle4{
   color: #333;
}
.title {
   font-style:normal;
} 

*[class~= "front-page/front-page-title"] {
  margin-top: 1in;
  font-size: 2.5em;
  line-height: 1.1em;
}

/* Chapter titles */

*[class~="topic/topic"][is-chapter]:not([is-part]) > [class~="topic/title"]::before {
   content:  counter(chapter) ". \A";
   font-size: 4em;
   color: rgb(37, 59, 97);
} 


/* Related links */

.wh_topic_content .wh_related_links,
.wh_topic_content .wh_related_links .related-links {
  margin:0;
  padding:0.5em;
  border:none;
}

.wh_topic_content .wh_related_links {
	background-color: #eee;
}



/* Tables */

.wh_topic_content .thead{
   background-color:#eee;
   color: rgb(37, 59, 97);
}
.wh_topic_content td,
.wh_topic_content th {
   border: 1pt solid #eee;
}

/* Customize fonts  */

:root {
  font-family: "Roboto";
  line-height: 1.5em;
}


/* TOC  numbers */

*[class ~= "map/topicref"] > *[class ~= "map/topicmeta"]:before,
*[class ~= "map/topicref"] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:before {
  font-weight: bold !important;
}

/* Element styling */

*[class ~= 'topic/xref'],
*[class ~= 'topic/link'] {
  color: navy;
  text-decoration: none;
}

@page front-page {
/*  background-image: url("front-page.svg");*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #f9f7f3;
}
