@import "oxygen.css";

/* Specific rules for the print output. */
@page {
  size: A4;
  margin: 0.75in;
}

@page :left, :right, table-of-contents:left, table-of-contents:right, chapter:left, chapter:right{

    @top-left{
        font-size: 10pt;
        font-family: Roboto, sans-serif;
    }
    
    @top-right{
        font-size: 10pt;
        font-family: Roboto, sans-serif;
    }
}



body {
	font-size: 10pt;
}

code {
  padding:2px 0;
  font-size: 0.8em;
}

/* The code blocks generate a code inside a pre. Avoid padding on the code, it creates indent of the first line. */
pre{
	padding:2px 4px;
	font-size: 0.8em;
}
pre > code{
	padding:0;
	font-size: 0.8em;
}

/* Titles */

.topictitle1 {
   color: rgb(37, 59, 97);
}

.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6{
   color: #333;
}
.title {
   font-style:normal;
   font-weight:bold;
} 

*[class~= "front-page/front-page-title"] {
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1.1em;
  padding-left: 0;
}

/* Chapter titles */

*[class~="topic/topic"][is-chapter]:not([is-part]) > [class~="topic/title"]::before {
   content:  counter(chapter) ". \A";
   font-size: 3em;
   color: rgb(37, 59, 97);
} 


/* Related links */

.wh_topic_content .wh_related_links,
.wh_topic_content .wh_related_links .related-links {
  margin:0;
  padding:0.3em;
  border:none;
}

.wh_topic_content .wh_related_links {
	background-color: #eee;
}



/* Tables */

.wh_topic_content .thead{
   background-color:#eee;
   color: rgb(37, 59, 97);
}
.wh_topic_content td,
.wh_topic_content th {
   border: 1pt solid #eee;
}

/* Customize fonts  */

:root {
  font-family: "Roboto";
  line-height: 1.5em;
}


/* TOC  numbers */

*[class ~= "map/topicref"] > *[class ~= "map/topicmeta"]:before,
*[class ~= "map/topicref"] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:before {
  font-weight: bold !important;
}

/* Element styling */

*[class ~= 'topic/xref'],
*[class ~= 'topic/link'] {
  color: navy;
  text-decoration: none;
}

@page front-page {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

[class~="map/map"] > *[class ~= "index/groups"] + *[class ~= "topic/topic"]:not([is-chapter]) {
    page: index;
}

.booktitle {
  display: block;
  position: absolute;
  left:6.9cm;
  top:10.9cm;
  
  width: 21cm;
  height: 3.4cm;

  margin-top:0;
  margin-left: 0;
  padding-top: 0.6cm;
  padding-left:3.9cm;
  
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 3.4cm;  
}
