.navbar-brand{
    height: 70px;
}


.wh_publication_title .mainbooktitle{
    display: none;
}

#ug-editor-name{
    margin: auto;
    margin-bottom: 0.5em;
    color: #ffffff;
    width: 730px;
    max-width:750px;
    font-size: 2.4em;
    font-family: "Roboto";
	font-weight:300;
    background: url("/img/Developer80.png") no-repeat;
    background-position:0 50%;
    padding-left: 2.5em;
    line-height: 1.2em;
}
#ug-editor-name:before {
    height: auto;
}

#ug-video{
    text-align: center;
}

#ug-logo a{color: #ffffff}
/**
 * Style video presentation section
 */
.wh_tiles{
    margin-top: 200px; 
}
#ug-video{
    position: absolute;
    width: 100%;
    left: 0;
    height: 185px;
    background-color: #F0F0F0;
}
.wh_main_page .wh_content_area {
	margin:0;
}
h1.container_title{
    padding:0;
	margin:.5em;
    font-size: 1.5em;
}
.duration {
    color: #fff;
    font-size: 0.8em;
    padding: 0px 4px;
    display: block;
    line-height: 1.5em;
    background-color: #000;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.square .vd_decoration {
    margin-top: 33px;
    margin-left: 68px;
}
.vd_decoration {
    background-image: url("/img/play_button_small.png");
    background-repeat: no-repeat;
    width: 86px;
    height: 86px;
    margin-top: 30px;
    margin-left: 70px;
    position: absolute;
    cursor: pointer;
}
.vcontent .square{
    text-align: center;
    background-color: #eee;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 4px #bbb;
    width: 176px;
    height: 97px;
    overflow-y: hidden;
    margin: auto auto 10px;
    position: relative;
}
.vd_title a {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.6em;
    height: 35px;
    display: inline-block;
    text-align: center;
}
.wh_footer{
    font-size: 15px;
    line-height: 1.7em;
    background-color:#000;
}
.wh_footer a {
    color: #ddd;
}
.wh_footer a:hover {
    color: #6c96b6;
    text-decoration: none;
}
.wh_footer #copy {
    min-height: 1px;
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: 0.9em;
}
#quick_links .lk-facebook {
    background-image: url("/img/social/facebook.png");
}
#quick_links .lk-twitter {
    background-image: url("/img/social/twitter.png");
}
#quick_links .lk-rss {
    background-image: url("/img/social/rss.png");
}
#quick_links .lk-blog {
    background-image: url("/img/social/blog.png");
}
#quick_links .lk-youtube {
    background-image: url("/img/social/you-tube.png");
}
#quick_links {
    margin-top: 66px;
}
#quick_links a {
    background-repeat: no-repeat;
    background-size: 35px;
    width: 34px;
    padding: 30px;
}

@media only screen and (max-width: 767px) {
    .wh_tiles {
      margin-top: 20px;
    }
    #ug-video {
      position:relative;
      height: 185px;
    }
	#ug-editor-name {
		display:none;
	}
}

/**
 * Hide "Copyright" and "Glossary" from tiles section
 * The links to the corresponding topics will be moved to the footer section
 */
.wh_tile[data-id=copyright],.wh_tile:not([data-id]) {
    display:none;
}