@namespace oxy "http://www.oxygenxml.com/extensions/author";

oxy|comment {
    -oxy-foldable:true;
    -oxy-folded:true;
}


data[audience~='styleguide']:before {
    content:none!important;
}

data[audience~='styleguide']:before(2) {
    content :
        oxy_label(text, "Link to this topic from: ", width, 30%)
        oxy_textfield(edit, '@name', width, 65%)
        oxy_label(text, "Link text: ", width, 30%)
        oxy_textfield(edit, '@value', width, 65%)
    ;
}

data[audience~='styleguide'] {
    margin : 0.5em;
}

data[audience~='styleguide']:after {
    content: 
        oxy_button(actionID, 'add.link', transparent, true)
        " "
        oxy_button(actionID, 'delete.element', transparent, true)
        " "
    ;
    display:block;
}

metadata:after {
    display:block;
    content : 
        oxy_button(actionID, 'add.link', transparent, true)
    ;
}

section[audience~='rules']:after {
    -oxy-append-content :
        "\A"
        oxy_label(text, "Use ", styles, "font-size:medium") 
        oxy_button(actionID, 'add.rule', transparent, true, actionContext, caret) 
        oxy_label(text, " to add a new rule        ", styles, "font-size:medium")
        ;
    ;
}

section[audience~='rules'] dl {
    display:table;
}


section[audience~='rules'] dl:after {
    
    display:block;
    content :
        oxy_button(actionID, 'delete.element', transparent, true)
    ;
}




section[audience~='rules'] dlhead,
section[audience~='rules'] dlentry {
    display:table-row;
}

section[audience~='rules'] dthd,
section[audience~='rules'] ddhd,
section[audience~='rules'] dt, 
section[audience~='rules'] dd {
    display :table-cell;
    padding:0.2em;    
}

section[audience~='rules'] dthd,
section[audience~='rules'] ddhd {
    background-color:#DDEEFF;
}

section[audience~='rules'] dt,
section[audience~='rules'] dd {
    background-color:#FAFCFF;
}

section[audience~='rules'] dt {
    width:30%;
    padding-left:2%;
}

section[audience~='rules'] dd {
    width:60%;
}

section[audience~='rules'] dthd,
section[audience~='rules'] ddhd,
section[audience~='rules'] dt,
section[audience~='rules'] dd {
    border : 1px solid #EEEEEE;
}

section[audience~='rules'] dt:hover,
section[audience~='rules'] dd:hover,
section[audience~='rules'] dthd:hover,
section[audience~='rules'] ddhd:hover{
    border : 1px solid gray;
}

section[audience~='rules'] dt:focus,
section[audience~='rules'] dd:focus,
section[audience~='rules'] dthd:focus,
section[audience~='rules'] ddhd:focus{
    border : 1px solid blue;
}





