/* The front page (cover) */

@page front-page {
  background-color: #577A21;
  background-image: url("pdf_css_page.svg");
}

.booktitle {
  background-color: transparent;
  background-image: url("pdf_css_logo.svg"); 
  width: 15cm;
}


.booktitlealt {
  font-size: 0.8em;
  line-height: 1.2em;
}

.mainbooktitle {
  font-size: 0.9em;
  line-height: 1.1em;
}