/* The front page (cover) */

@page front-page {
  background-image: url("Chemistry_bubble.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #f9f7f3;
}

/*
@page chapter:left {
	background-image: url("Chemistry_Page_Template_Left.svg");
	@top-left {
		content:none; 
	}
}

@page chapter:right {
	background-image: url("Chemistry_Page_Template_Right.svg");
}

@page chapter:left:first {
	background-image: none;
}

@page chapter:right:first {
	background-image: none;
}
*/