/* The front page (cover) */

@page front-page {
  background-color: #66738c;
  background-image: url("Developer_page.svg");
}

.booktitle {
/*  background-color: #66738c;*/
  background-color: transparent;
  background-image: url("Developer_logo.svg");  
}